.toolbar {
    position: absolute; /* Allows precise placement */
    top: 10%; /* 35% down the page */
    width: 100vw;
    display: flex; /* Align toolbar options in a row */
    justify-content: center; /* Center the options horizontally */
    align-items: center; /* Align options vertically */
    gap: 20px; /* Optional: spacing between items */
}

.toolbar-links {
    list-style: none;
    display: flex;
    gap: 25px; /* The gap between each element */
    padding: 0px
}

.toolbar-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: color 0.3s;
}

.toolbar-links a:hover {
    color: #070ca5;
}

@media(max-width: 768px){
    .toolbar-links{
        flex-direction: column;
        gap: 10px
    }
}